.home-container {
    margin-top: 179px;
    width: 580px;
    height: 130px;
    margin-left: 120px;

}

.home-titulo {
    font-family: Roboto;
    font-weight: 700px;
    font-size: 24px;
    line-height: 64px;
    letter-spacing: 2%;
    color: #062847;

}

.home-text {
    font-family: Roboto;
    font-weight: 400px;
    font-size: 10px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #5A6774;
}

.home-btn {
    width: 101px;
    height: 40px;
    border-radius: 4px;
    border-color: #1890FF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    background-color: #1890FF;
    color: white;
}

.home-link {
    text-decoration: none;
    color: rgb(27, 58, 160)
}