.pesquisa-container {
    height: 270px;
    margin-top: 116px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: rgb(186, 227, 255);
    border-radius: 10px;
}

.text-container {
    padding-left: 96px;
    padding-top: 10px;
}

.text-pesquisa {
    font-family: Roboto;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0%;
    color: #262626;
}

.input-perfil {
    width: 676px;
    height: 40px;
    margin-left: 94px;
    border-radius: 10px;

}